. {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.nav {
    background: skyblue;
    height: 80px;
    width: 100%;

}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

.nav ul {
    float: right;
    margin-right: 20px;
}

.nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
}

.nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px text-transform: uppercase
}

li a.active:hover {

    background: blue;
    transition: .5s;
}

.checkbtn {
    font-size: 40px;
    color: #fff;
    float: right;
    line-height: 80px;
    cursor: pointer: display: none
}

#check {
    display: none;
}



.header-bg {

    background-image: url("copa2023.jpg");
    background-repeat: repeat-x;
    background-size: contain
}


body {
    background-image: url(Bandera.jpg );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: calc(100vh - 80pz-)


}



@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 858px) {
    .checkbtn {
        display:block;
        
    }

}


.box {

    border: 5px solid black;
    padding: 10px;
    margin: 25px;

}


.box.left {

    justify-content: space-between;
    float: left;
    display: flex;
}

.box.center {
    justify-content: space-between;
    float: center;
    display: flex;
}

.box.right {
    justify-content: space-between;
    float: right;
    display: flex;
}


.same-size-img {
    width: 300px;
    height: 350px;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}