div.a {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-right: 50px;
    padding-left: 40px;
    border: 1px solid black;
    background-color: azure;
  

.container {
    border: 5px solid black;
    background-color: blue;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .left {
    float: left;
  }
  
  .center {
    margin: 0 auto;
    display: block;
  }
  
  .right {
    float: right;
  }
  
  img {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px;
  }
  